body {
  margin: 0px;
  background-color: white;
}

body .nav-bar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  /* Full width */
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* vertical */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* horizontal */
}

body .left {
  margin-top: 40px;
  margin-left: 50px;
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

body .right a {
  font-size: 18px;
  font-family: 'Archivo Black', sans-serif;
  width: 200px;
  padding: 40px;
  color: #314743;
  text-decoration: none;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

body .right a:hover {
  background-color: #314743;
  color: white;
}

body .right img {
  margin: 0px auto;
  width: 20px;
  height: 20px;
}

body.accueil h2 {
  color: #314743;
  margin: 0px;
}

body.accueil p {
  font-family: 'Roboto', sans-serif;
}

body.accueil .section-promo {
  font-family: 'Archivo Black', sans-serif;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.accueil .section-left {
  padding: 50px;
  width: 20%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  /* vertical */
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  /* horizontal */
}

body.accueil .a-bouton {
  padding: 20px;
  width: 100px;
  background-color: #314743;
  color: white;
}

body.accueil .a-bouton:hover {
  color: black;
  border: 4px black;
  background-color: black;
}

body.accueil .a-bouton a {
  text-decoration: none;
  color: white;
}

body.accueil .section-rigth {
  width: 80%;
  background-image: url("../images/promo_image.png");
  background-size: cover;
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

body.accueil .section-rigth p {
  color: white;
}

body.accueil .section-video {
  margin: 0px;
  background-color: #314743;
  padding: 50px;
  font-family: 'Archivo Black', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
}

body.accueil .section-video h1, body.accueil h4 {
  color: white;
}

body.accueil .section-video h2 {
  color: white;
}

body.accueil .section-video p {
  color: white;
  padding-right: 50px;
}

body.accueil .section-v-l {
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.accueil .section-v-r {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.accueil .video1,
body.accueil .video2,
body.accueil .video3 {
  background-size: cover;
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 100%;
}

body.accueil .video1 {
  background-image: url("../images/1.jpg");
}

body.accueil .video2 {
  background-image: url("../images/2.jpg");
}

body.accueil .video3 {
  background-image: url("../images/3.jpg");
}

body.accueil .section-commanditaires {
  font-family: 'Archivo Black', sans-serif;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 30px;
}

body.accueil .logo1,
body.accueil .logo2,
body.accueil .logo3 {
  width: 200px;
  height: 100px;
  padding-left: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.accueil .logo1 {
  background-image: url("../images/logos/assurance.svg");
}

body.accueil .logo2 {
  background-image: url("../images/logos/banque.svg");
}

body.accueil .logo3 {
  background-image: url("../images/logos/reno.svg");
}

body.accueil .infolettre {
  font-family: 'Archivo Black', sans-serif;
  background-color: #314743;
  color: white;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.accueil .info-left,
body.accueil .info-center {
  padding: 50px;
  width: 500px;
}

body.accueil .info-right {
  margin-left: 30px;
  width: 400px;
  height: 200px;
  background-image: url("../images/courrier.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.entreprise .section-promo {
  padding-top: 25px;
  font-family: 'Archivo Black', sans-serif;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.entreprise .section-promo h1, body.entreprise .section-promo h2 {
  margin: 0px;
  color: #494949;
}

body.entreprise .section-promo p {
  font-family: 'Roboto', sans-serif;
}

body.entreprise .section-right {
  padding: 50px;
  width: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  /* vertical */
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  /* horizontal */
}

body.entreprise .a-bouton {
  padding: 20px;
  width: 100px;
  background-color: #314743;
  color: white;
}

body.entreprise .a-bouton:hover {
  color: black;
  border: 4px black;
  background-color: black;
}

body.entreprise .a-bouton a {
  text-decoration: none;
  color: white;
}

body.entreprise .section-left {
  width: 50%;
  background-image: url("../images/cam.jpg");
  background-size: cover;
  background-position: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

body.entreprise .section-left p {
  color: white;
  font-family: 'Roboto', sans-serif;
}

body.entreprise .section-video {
  margin: 0px;
  background-color: white;
  padding: 50px;
  font-family: 'Archivo Black', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
}

body.entreprise .section-video h1, body.entreprise h4 {
  color: black;
}

body.entreprise .section-video h2 {
  color: #494949;
}

body.entreprise .section-video p {
  font-family: 'Roboto', sans-serif;
  color: black;
  padding-right: 50px;
}

body.entreprise .section-v-l {
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.entreprise .section-v-r {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.entreprise .video1 {
  background-size: cover;
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 100%;
}

body.entreprise .video1 {
  background-image: url("../images/teams.jpg");
}

body.entreprise .section-commanditaires {
  font-family: 'Archivo Black', sans-serif;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 30px;
}

body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
  margin: 0px;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer h3 {
  font-family: 'Archivo Black', sans-serif;
  -webkit-box-shadow: #314743;
          box-shadow: #314743;
  margin: 0px;
}

body .footer a {
  color: #314743;
}

body .footer img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  padding: 10px;
  width: 20px;
  height: 20px;
}

body .footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */