$colorb:    black;
$colorw:    white;
$colorg:    #314743;
$colorgray: rgb(73, 73, 73);

$typo1:  'Merriweather Sans', sans-serif;
$typo2:     'Archivo Black', sans-serif;


body{
    margin: 0px;
    background-color: $colorw;

        .nav-bar {
        font-family: $typo2;
        overflow: hidden;
        background-color: $colorw;
        position: fixed; 
        top: 0;
        width: 100%; /* Full width */
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* vertical */
        align-items: center; /* horizontal */ 
        
            .left  {
                margin-top: 40px;
                margin-left: 50px;
                background-image: url(../images/logo.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 100px;
                height: 100px;
                align-items: center;
                justify-content: left;
            }

            .right a {
                font-size: 15px;
                font-family: 'Roboto Sans', sans-serif;
                width: 300px;
                padding: 40px;
                color: $colorg;
                text-decoration: none;
                align-items: left;
    
                &:hover{
                    background-color: $colorg;
                    color: $colorw;
                }
            }
        }



        &.connexion{
            
        .logo{
            width: 50%;
            height: 50%;
            background-image: url("/public/images/logo.svg");
        }


        }

 

        .right img{
            margin: 0px auto;
            width: 20px;
            height: 20px;

        }
    

    &.accueil{

        h2 {
            color: $colorg;
            margin: 0px;
        }

        p{
            font-family: 'Roboto', sans-serif;
        }


        .section-promo {
            padding-top: 50px;
            font-family: 'Arial bold', sans-serif;
            height: 60%;
            display: flex;
        }

        .section-left {
            padding: 50px;
            width: 20%;
            flex-direction: row;
            justify-content: left; /* vertical */
            align-items: left; /* horizontal */
        }
    
        .a-bouton a {
            text-decoration: none;
            color: $colorw;
        }
        .section-rigth {
            width: 80%;
            background-image: url("../images/promo_image.png");
            background-size: cover;
            background-position: center;
            justify-content: center;
            align-items: right; 

            & p{
                color: $colorw;
            }

        }

        .section-video{
            color: $colorw;
            margin: 0px;            
            background-color: $colorg;
            padding: 50px;
            font-family: 'Archivo Black', sans-serif;
            display: flex;
    

           
        }
        .video {

            width: 50%;
            height: 50%;
        }

        .section-video h1, h4{
            padding-top: 25px;
            color: $colorw;
            font-size: 25px;
        }
        .section-video h2{
            color: $colorw;
        }
        .section-video p {
            color: $colorw;
            padding-right: 50px;
        }


        }



    &.entreprise {

        .section-promo {
            padding-top: 50px;
            font-family: 'Merriweather Sans', sans-serif;;
            height: 60%;
            display: flex;

            & h1, h2{
                margin: 0px;
                color: $colorgray;
            }
            & p{
                font-family: 'Roboto', sans-serif;

            }
        }

        .section-right {
            padding: 50px;
            width: 50%;
            flex-direction: row;
            justify-content: left; /* vertical */
            align-items: left; /* horizontal */
        }

        .a-bouton {
            padding: 20px;
            width: 100px;
            background-color: $colorg;
            color: $colorw;

            &:hover{
                color: $colorb;
                border: 4px $colorb;
                background-color: $colorb;
            }
        }
    
        .a-bouton a {
            text-decoration: none;
            color: $colorw;
        }

        .section-left {
            width: 50%;
            background-image: url("../images/cam.jpg");
            background-size: cover;
            background-position: right;
            justify-content: right;
            align-items: right; 

            & p{
                color: $colorw;
                font-family: 'Roboto', sans-serif;

            }
        }



        .section-video{
            margin: 0px;            
            background-color: $colorw;
            padding: 50px;
            font-family: 'Merriweather Sans', sans-serif;;
            display: flex;
            height: 60%;

        }
        .video1 {
            background-image: url("../images/teams.jpg");  
        
        }

       
    }
     
        .section-commanditaires{
            font-family: 'Archivo Black', sans-serif;
            height: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 30px;

        }
    
    
    
    &.connexion {

        .container{
        margin: 0px auto;
        font-family: $typo2;
        display: flex;
        flex-direction: column;
        justify-content: center; /* vertical */
        align-items: center; /* horizontal */
        width: 50%;
        height: 50%;
        }

        .login {
          
        }
        a,
        input {
            font-size: 18px;
            padding: 20px;
            border-radius: 5px;
            border: none;
            display: flex;
            margin: 15px;
        }

        a,
        input[type=submit] {
            background-color: $colorg;
            color:$colorw;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                background-color: $colorgray;
            }
        }

        a {
            margin: 0px;
            font-size: 18px;
        }

        h1 {
            font-size: 25px;
            color: $colorg;
        }
    }

    &.gestion {        
    .container{
        margin: 0 auto;
        color: $colorb;

        h1 {
            margin: 0px;
            padding-top: 100px;
            padding-left: 20px;
            font-family: $typo2;
        }
        .gestion-publications{
            display: flex;
            margin: 20px;
        }

        .creation-publication {
            margin-top: 100px;
            margin: 0px auto;
            font-family:'Roboto';
            font-size: 15px;
            width: 20%;
        }
        
        a,
        input {
            
            font-size: 15px;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            margin: 1px;
            flex-direction: column;
            align-items: left;
        }

        input[type=submit] {
            margin-top: 20px;
            background-color: $colorg;
            color:$colorw;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                background-color: $colorw;
                color: $colorw;
            }
        }
        
        table.paleBlueRows {
            font-family: "Roboto";
            border: 1px solid #FFFFFF;
            width: 100%;
            height: 200px;
            text-align: left;
            border-collapse: collapse;
          }
          table.paleBlueRows td, table.paleBlueRows th {
            border: 1px solid #FFFFFF;
            padding: 3px 2px;
          }
          table.paleBlueRows tbody td {
            font-size: 13px;
          }
          table.paleBlueRows tr:nth-child(even) {
            background: #cececebc;
          }
          table.paleBlueRows thead {
            margin: 0px auto;
            color: $colorw;
            background: #314743;
            border-bottom: 5px solid #FFFFFF;
          }
          table.paleBlueRows thead th {
            font-size: 17px;
            font-weight: bold;
            color: #FFFFFF;
            text-align: center;
            border-left: 2px solid #FFFFFF;
          }
          table.paleBlueRows thead th:first-child {
            border-left: none;
          }
          
          table.paleBlueRows tfoot td {
            font-size: 14px;
          }

    }
}

    .logo{
        background-image: url("../images/logo.svg");
        width: 100px;
        height: 100px;
        margin: 0px;
        background-repeat: no-repeat;
    }

    .footer{
        font-family: 'Roboto', sans-serif;
        display: flex;
        padding: 50px;
        margin: 0px;
        
        justify-content: center;
        align-items: center;
        color: $colorb;   
 


        
        & h3, h4{
            font-family: 'Roboto', sans-serif;
            box-shadow: $colorg;
            margin: 0px;
        }

        & a {
            color: $colorg;
        }

        img{
            display: flex;
            align-items: right;
            padding: 10px;
            width: 15px;
            height: 15px;
        }

        .copyright{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        
        .courrierb {
            margin-left: 30px;
            width: 400px;
            height: 200px;
            background-image: url("../images/courrier.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            justify-content: center;
            align-items: center;
        }
    }




}